/*
Theme Name: Krita
Theme URI: Krita.org
Description: Digital Painting tool for artists and illustrators
Version: 1.0
Author: Scott Petrovic
Author URI: http://www.scotttpetrovic.com
*/



/* Bootstrap is the base for this CSS
 * This file is just overriding some of the bootstrap properties 
 * so the theme will look branded
*/


html, body {
    background-color: #e8e8e8;
    /* background: url('images/canvas-background.jpeg'); */
    color: #1e2b40;
}

html, p, body, div {
   font-family: 'Quattrocento Sans', sans-serif;
   font-size: 18px;  
   line-height: 170%;
}



a:focus, li:focus, .nav.navbar-nav a:focus {
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #ddd; 
    background-color: #ddd;
    margin-top: 0.2em;
}

h1, h2, h3, h4 {
    font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.4em;
    margin-bottom: 0.5em;

}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-size: 1.0em;
    font-weight: bold;
}

h3, h4 {
    margin-top: 0em;
    margin-bottom: 0.5em;
}


td, th {
   padding: 0.6em;
   border: 0.1em solid #bbb;
   vertical-align: top;
}

th {
    background-color: #FFD1E2;
}

tr:nth-child(odd) {
   background-color: #efefef;
}

tr:nth-child(even) {
   background-color: #ffffff;
}

table {
    margin-top: 3em;
    margin-bottom: 3em;
}


/* a inner div that gets placed when you use a text widget in WordPress */
/* this is used in the footer area for links */
footer.row div.textwidget {
    padding: 0;
    color: white;
}

.right-sideText {
	padding-left: 5em;
	padding-top: 1em;
}

.bold {
    font-weight: bold;
    font-size: 120%;
}

.underline {
	text-decoration: underline;
}

.preferredDownload {
    padding: 0.7em 1.7em;
    padding-left: 2em;
    text-decoration: none;
    border-radius: 0.2em;
    box-shadow: 2px 2px 5px #8a4580;
    background: url(images/decoration/download-icon-small.png) no-repeat #d9feff;
    background-position: left center;
    font-size: 100%;
    margin-bottom: 0.3em;
    display: inline-block;
}

.preferredDownload:hover {
    background-color: #e5feff;
}


.content-container div.right-sideText > p, .content-container div.right-sideText li  {
}



.content-container ul {
	margin-bottom: 2.0em;
}

.content-container ol li, .content-container ul li  {
    margin-bottom: 1em;
    margin-top: 0.9em;
}

.nav-tabs {
    border: 0;

}

.nav-tabs>li>a{
    margin-right: 5px;
}


/* make sure nested list items don't get too large */
.content-container ol li li, .content-container ul li li {
	line-height: 0.3em;
}

.content-container ul ul {
    margin-bottom: 0;
}

.content-container ul ul li {
	line-height: 1.3em;
}

.post.page .wp-caption p.wp-caption-text {
	text-align: center;
}

input#s {
    padding: 0.7em;
}

#searchform {
    float: right;
    padding: 1.0em;
    background-color: #ffd1e2;
}

#searchsubmit {
    padding: 0.7em;
}

#searchResultsLocation {
    display: inline-block;
    font-size: 1.3em;
    padding: 1.4em;
}

#searchResults-nav {

    background-color: #ffd1e2;
    border-radius: 0.2em;
    margin-top: 0;
}



    #font-search .search-form {
        background: none;
        padding: 0;
    }
    
    #font-search {
        display: inline-block;
        margin-left: 1.0em;
    }
    
    .search-field {
        padding: 0.3em 0.5em;
        border: 0.1em solid #ddd;
        width: 8em;
        font-weight: normal;
        font-style: italic;
        font-size: 0.9rem;
    }
    
    span.screen-reader-text, label.screen-reader-text {
        display:none;
    }
    
    .search-submit, .pink-button {
        padding: 0.6em 1.3em;
        border-radius: 0.2em;
        border: 0;
        color: white;
        font-weight:normal;
        box-shadow: 0.1em 0.1em 0.3em #576b84;
        text-decoration: none;
            
		background: #42b9ff;
		background: -moz-linear-gradient(top, #2daef9 1%, #69c3ff 100%);
		background: -webkit-linear-gradient(top, #2daef9 1%,#69c3ff 100%);
		background: linear-gradient(to bottom, #2daef9 1%,#69c3ff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b9ff', endColorstr='#93d4ff',GradientType=0 );
    }

    .pink-button.attached {
        padding: 5px 17px;
        box-shadow: 2px 2px 3px gray;
        margin-left: -5px;
        border-radius: 0 10px 10px 0;
    }

    /* ghost button appearance */
    .secondary-button {
        background: white;
        border-color: #3babff;
        color: #3babff;
        font-weight: normal;
        padding: 0.2em 1em;
        border-radius: 0.2em;
        border: 2px solid #3babff;
        text-decoration: none;
        box-shadow: 3px 3px 2px #bac1e6;
    }
    .secondary-button:hover {
        background: #e9f4ff ;
    }

    .search-submit:hover, .pink-button:hover {
        background: #51b2fb;
    }

#countdown, #language-banner {
	background-color: #fadef4;
	padding: 0.7em;
	border-radius: 0.2em;
}

#countdown p, #language-banner p {
	padding: 0;
	margin: 0;
	color: #777;
	font-family: Arial;
	text-align: center;
        font-size: 1.2em;
}

 .supportedOSIcon {
        margin-left: 1.0em;
    }

.pagination .page-numbers{
    background-color: #FFD1E2;
    border-radius: 0.2em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.6em;
}

.pagination .page-numbers:hover {
    text-decoration: none;
    background-color: #FFE1E2
}


.post.page p, .content-container p {
    margin-bottom: 30px;
}

/* this holds all of the content (breadcrumbs, pages content, footer) */
.container {
    background: url('images/canvas-content-bg.jpg');
    box-shadow: 0px 8px 20px grey;
}


.content-container, #frontpage-container {
    padding: 4.0em;
    padding-top: 1.0em;
    padding-bottom: 0;
}


a h2.sansFont {
    font-size: 1.8em;
    margin: 0em;
    margin-top: 0.6em;
	font-family: 'Quattrocento Sans', sans-serif;
	transform: rotate(0deg);
	color: #50aef8;
}

a:hover h2.sansFont {
 text-decoration: underline;
}


#education p {

}

.content-container h2 {
}

.content-container p
{
    color: #4c4c4c;
}



.content-container img {
    -moz-box-shadow:   0 0 13px 5px #dddddd;
    -webkit-box-shadow: 0 0 13px 5px #dddddd;
    box-shadow:        0 0 13px 5px #dddddd;
    margin: 1.0em;

	max-width: 100%;
height: auto;
}

/* this is for the slanted blue bars on the interal pages */
#header-decoration.internal {
    height: 9em;
    margin-top: -7em;
}


#lang-switcher-widget {
    margin-top: 0.58em;
    margin-right: 0.8em;
}


.nav.navbar-nav {
}

.nav.navbar-nav a {
    color: white;            
    transition: all 0.5s ease;
    text-decoration:none;
}

.nav.navbar-nav a:hover {
    color: #ddd;
    text-decoration: underline;
}

li a.brandingPadding {
    padding: 0.2em 1em 0;
}



#slim-background {

    height: 11em;
    font-size: 1.0em;

    background: #1f4551;
	background: -moz-linear-gradient(top, #0f2229 0%, #586a8e 100%);
	background: -webkit-linear-gradient(top, #0f2229 0%,#586a8e 100%);
	background: linear-gradient(to bottom, #0f2229 0%,#586a8e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2229', endColorstr='#586a8e',GradientType=0 );
}

.icon-bar {
    background-color: #aaa;
}

.navbar-toggle {
    background-color: #333;
}


#breadcrumb-nav {
    text-align: center;
}

#breadcrumb-title {
    margin-left: 3.21em;
    font-size: 1.3em;
    color: #708f96;
    margin-bottom: 0;
    display: none;
}
@media (max-width: 1000px) {
    #breadcrumb-title {
        display: block;
    }
}


#breadcrumb-nav ul {
    list-style: none outside none;
    margin-bottom: 4em;
    margin-left: 1.0em;
    padding-left: 0;
    display: inline-block;
}

@media (max-width: 1000px) {
    #breadcrumb-nav ul {
        display: block;
    }
}


#breadcrumb-nav li {
    display: inline-block;
    font-size: 1.3em;
    background: white;
}


#breadcrumb-nav li.active {
    
}

#breadcrumb-nav li.active a:hover {
    text-decoration: none;
}


#breadcrumb-nav li a:hover {
    text-decoration: underline;
}

#breadcrumb-nav li a {
    text-decoration: none;
    padding: 0.2em 1rem;
    display: inline-block;
    font-size: 0.7em;
    border-left: 1px solid #e0d9d9;
    border-right: 1px solid #e0d9d9;
}         



#breadcrumb-nav li.active a {
    background: grey;
    color: white;
}



footer {
	background: #3babff;
	background: -moz-linear-gradient(top, #3babff 0%, #406def 100%);
	background: -webkit-linear-gradient(top, #3babff 0%,#406def 100%);
	background: linear-gradient(to bottom, #3babff 0%,#406def 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3babff', endColorstr='#406def',GradientType=0 );


}

footer.row div {
    padding: 2.0em;
}

footer h5 {
    font-size: 1.2em;
    color: #cdeff2;
}

footer ul {
    list-style: none;
    list-style-position:outside;
    padding-left: 0;
}

footer ul a {
    color: white;
    display: inline-block;
    padding: 0.1em 0;
}

#socialmedia {
    min-height: 2em;
}

#socialmedia a {
    border-radius: 0.3em;
    float: left;
    transition: all 0.5s ease;
    height: 2em;
    background: #3dacff;
    margin: 0.1rem 0.4rem;
    padding: 0 0.3rem;
}

.download-thankyou-box #socialmedia a:hover  {
    background: #6cb9f5;            
}

footer  #socialmedia a.loginlink  {           
    bottom: 0;
    clear: right;
    background: none;
    color: #e4f1ff;
	font-size: 0.9rem;
}

footer  #socialmedia a.loginlink:hover {
    border: none;
}


/*** frontpage specific styles ***/

 #frontpage-container {
    padding: 0;
    margin-top: 0.8em;
 }
 
  #frontpage-container div h2 {
	font-family: "Quattrocento Sans";
	font-size: 2em;
	color: #829da8;  
    
  }
 
#frontpage-container p {
    color: #333;
    font-size: 1em;
}
 
 #frontpage-container ul {
    padding-left: 1em;
 }
 
  #frontpage-container ul {
    font-style: italic;
  }
 
.tab-content .button {
    box-shadow:         3px 3px 3px 1px #ccc;   
    border-radius: 0.2em;
    padding: 0.8em 0.7em;
    margin-left: 0.8em;
    background-color: #afeaeb;
    float: left;
    margin-top: 0.4em;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
 }
 
.tab-content .button:hover {
    text-decoration: none;
    background-color: #bffbfc;
}
 

a.button {
    color: #484343;
    border-radius: 0.2em;
    padding: 0.5em 1.0em;
    
    -moz-box-shadow:    3px 3px 3px 1px #ccc;
    -webkit-box-shadow: 3px 3px 3px 1px #ccc;
    box-shadow:         3px 3px 3px 1px #ccc;   
    background: #afeaeb;
    background: -moz-linear-gradient(top,  #afeaeb 0%, #5acece 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afeaeb), color-stop(100%,#5acece));
    background: -webkit-linear-gradient(top,  #afeaeb 0%,#5acece 100%);
    background: -o-linear-gradient(top,  #afeaeb 0%,#5acece 100%);
    background: -ms-linear-gradient(top,  #afeaeb 0%,#5acece 100%);
    background: linear-gradient(to bottom,  #afeaeb 0%,#5acece 100%)
}

 
 #frontpage-container div a.button  {

    color: #484343;
    position: absolute;
    bottom: 0;
    border-radius: 0.2em;
    padding: 0.5em 1.0em;
    text-decoration: none;
    
    -moz-box-shadow:    1px 2px 2px 1px #847d7d;  
    -webkit-box-shadow: 1px 2px 2px 1px #847d7d;  
    box-shadow: 1px 2px 2px 1px #847d7d;   
    
    
    background: #afeaeb;
    background: -moz-linear-gradient(top,  #afeaeb 0%, #5acece 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afeaeb), color-stop(100%,#5acece));
    background: -webkit-linear-gradient(top,  #afeaeb 0%,#5acece 100%);
    background: -o-linear-gradient(top,  #afeaeb 0%,#5acece 100%);
    background: -ms-linear-gradient(top,  #afeaeb 0%,#5acece 100%);
    background: linear-gradient(to bottom,  #afeaeb 0%,#5acece 100%);
       
    
 }
 
  #frontpage-container div a.button:hover, a.button:hover {
    text-decoration: none;
    background: #b9eff0; 
  }
 
 
.frontpage-block1 , .frontpage-block2 , .frontpage-block3  {
    height: 21em;
    padding: 2.0em;
    padding-top: 0;
}
 
.frontpage-block1 {
    background: url('images/pink-bg-splash.png') no-repeat;
}

.frontpage-block2 {
    background: url('images/blue-bg-splash.png') no-repeat;
	border-left: 0.1em solid #ccc;
	border-right: 0.1em solid #ccc;
}

.frontpage-block3 div.artist-homepage {

    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);   


    background-size: cover;    
    transition: all 0.5s ease;   
    border: 0;
    opacity: 1.0;
    
    box-shadow: -2px 3px 8px 3px #d4d4d4;
    width: 400px;
    height: 319px;
    margin-left: -2em;
    
}

.frontpage-block3 div.artist-homepage:hover {
   
    box-shadow: -2px 2px 4px 6px #bcc;    
    opacity: 0.7;
}


#frontpage-news {
    margin-left: 1.0em;
    margin-top: 2.0em;
}

#frontpage-news h3 {
    font-size: 2.4em;
    display: inline-block;
    margin-right: 0.5em;
}

#frontpage-news a#news-seeall {
    bottom: 0;
    position: absolute;
    right: 0;
    text-decoration: underline;
}

#download-page-hero {
    height: 390px;
    background: url(images/decoration/download-page-hero.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #3dacff;
    box-shadow: 0px 51px 65px #0a0b0f inset;
}
#download-header-inside {
    height: inherit;
}

.download-options {
    margin-top: 0.5em;
}
.download-options a {
    color: white;
    font-size: 0.9em;
    padding: 0.5em;
    text-decoration: underline;
}
.download-options a:hover, .download-options a:focus {
    text-decoration: none;
}

.popover {
    max-width: inherit;
    border: 0;
}
.popover-title, 
.popover-content, 
.popover-content a,
#download-content-container .popover-content a {
    color: #000000;
    font-size: 0.9rem;
}

.popover-content a:hover {
    text-decoration: none;
}

.fontpage-panel {
    padding: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0;
}

.fontpage-panel span.main-text a {
    color: white;
}


.frontpage-toolsImage, .frontpage-education, .artist-interview-container, .frontpage-community, .frontpage-volunteer, .frontpage-donate {
    width: 100%;
    height: 350px;
    background: url('images/slideshow/hero-image-30.jpg');
    background-size: cover;
    background-position:center; 
    opacity: 0.9;
    position: relative;

    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;

    border: 0.1em solid #777;

}

.frontpage-toolsImage {
    background: url('images/homepage-tools.jpg?v=2');
    background-size: cover;
}


.frontpage-toolsImage:hover, .frontpage-education:hover, .artist-interview-container:hover, .frontpage-donate:hover, .frontpage-volunteer:hover {
    opacity: 1;
}


.frontpage-education {
    background: url('images/homepage-education.jpg');
    background-size: cover;
    height: 162px;
}


.artist-interview-container {
    height: 23.2em;
}

.frontpage-community {
    background: url('images/homepage-community.jpg');
    background-size: cover;
    height: 162px;
}


.frontpage-donate {
    background: url('images/homepage-donate.jpg');
    background-size: cover;
    height: 162px;
}


.frontpage-volunteer {
    background: url('images/homepage-get-involved.jpg');
    background-size: cover;
    height: 162px;
}


/* release notes */
.release-section-heading { 
    margin-top: 5em;
}

.contrib-row {
    margin-bottom: 6em 
}

.volunteer-card { 
    background: #97a7bd; 
    color: white; 
    padding: 0.1em 0.7em; 
    border-radius: 5px; 
    margin: 0.3em; 
    display: inline-block; 
    font-size: 20px; 
}




.text-info {
    width: 100%;
    padding: 14px;
    background: #151414;

background: -moz-linear-gradient(45deg,  rgba(0,0,0,1) 4%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(45deg,  rgba(0,0,0,1) 4%,rgba(0,0,0,1) 5%,rgba(0,0,0,0) 100%);
background: linear-gradient(45deg,  rgba(0,0,0,1) 4%,rgba(0,0,0,1) 5%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );

    position: absolute;
    bottom: 0px;
    opacity: 0.9;
    color: white;
}


span.main-text {
    float: left;
    font-size: 16px;
}

span.more-arrow {
    float: right;
}


span.more-arrow.pink-button {
    padding: 3px 17px;
}
@media (max-width: 1000px) {
    span.more-arrow.pink-button {
        float: right;
    }  
}



.front-page-news-container {
    background: white;
    min-height: 346px;
    padding: 1em;
    border: 0.2em solid #dddfe3;
}

.section-container
 {
    padding: 1em;
    display: block;
    padding-bottom: 0;
}

.section-container a.secondary-button {
    margin-bottom: 1em;
    display: inline-block;
    margin-right: 0.2em;
}


div.front-page-news-container a {
    display: block;
}


div.front-page-news-container {
    line-height: 120%;    
}

div.front-page-news-container div{
    margin-bottom: 1.2em;
	color: #bababa;
	font-size: 0.9rem;
}




#slogan {
    top: 20%;
    color: black;
    right: 5%;
    line-height: 1.4em;
    padding: 2em;
    position: absolute;
    width: 33em;
    background: white;
    opacity: 0.95;
    box-shadow: inset 2px 2px 8px #55578a;
}
@media (max-width: 1000px) {
    #slogan {
        display: none;
    }  
}

#slogan-mobile {
    display: none;

}
@media (max-width: 1000px) {
    #slogan-mobile {
        display: block;
        margin-bottom: 3em;
        margin-top: 2rem;
    }  
}




#download-content-container {
    top: 20%;
    left: 5%;
    line-height: 1.4em;
    padding: 1em;
    position: absolute;
    color: white;
    max-width: 35em;
    min-width: 28em; /* helps keep popover showing everything */
    background: rgba(23, 18, 22, 0.9);
    box-shadow: 0px 0px 14px 0px #3c3c3c;
}
@media (max-width: 1000px) {
    #download-content-container {
        min-width: auto;
    }
    
}


#download-content-container h3 {
    margin-bottom: 0;
    font-weight: normal;
}
@media (max-width: 1000px) {
    #download-content-container h3 {
        margin-top: 0;
    }
    
}


#download-content-container a {
    color: white;
    cursor: pointer;
}
@media (max-width: 1000px) {
    #download-content-container a {
        display: block;
    }    
}


#download-content-container p {
    font-size: 0.9rem;
    line-height: 120%;
}

#download-content-container .nav-tabs {
    border: 1px solid #424141;
}
#download-content-container .nav-tabs li>a {
    padding: 0 0.6em;
    text-decoration: none;
    padding-top: 0.2em;
    border: 0;
    margin-right: 0;
    font-size: 0.9rem;
}
#download-content-container .nav-tabs li>a:hover {
   background: rgba(72, 75, 82, 0.6);
   border-radius: 0;
}
#download-content-container .nav-tabs>li.active>a, 
#download-content-container .nav-tabs>li.active>a:hover, 
#download-content-container .nav-tabs>li.active>a:focus {
    border-radius: 0;
    border: none;
    background: rgba(79, 94, 113, 0.67);
    text-decoration: none;
    margin-right: 0;
}

#download-content-container .tab-content {
    padding: 0;
    background: 0;
}

code {
    padding: 0.3em 1em;
    color: grey;
    display: inline-block;
}



#hero
{
    height: inherit;
}


.mini-hero {
    padding: 0;
    height: inherit;
    border-left: 0.1em solid black;
    border-bottom: 0.1em solid black;
}
.mini-hero #slide-1, .mini-hero #slide-2, .mini-hero #slide-3, .mini-hero #slide-4
{
    width: 100%;
    height: 50%;
    position: relative;
    
    overflow:hidden; /* allows for names to slide in */
}

.mini-hero #slide-1 {
    background: url('images/slideshow/slideshow-1.jpg');
        background-size: cover; 
}

.mini-hero #slide-2{
    background: url('images/slideshow/slideshow-3.jpg');
        background-size: cover; 
}

.mini-hero #slide-3 {
    background: url('images/slideshow/slideshow-2.jpg');
        background-size: cover; 
}

.mini-hero #slide-4 {
    background: url('images/slideshow/slideshow-4.jpg');
    background-size: cover; 
}


#slide-1, #slide-3 {
    border-bottom: 0.1em solid black;
}

#slide-1:hover, #slide-2:hover, #slide-3:hover, #slide-4:hover  {
    opacity: 0.9;
}

.mini-hero #slide-1 div, .mini-hero #slide-2 div, .mini-hero #slide-3 div, .mini-hero #slide-4 div, #hero div#hero-credit
{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);

    
    bottom: -45px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.6em;
    position: absolute;
    text-align: left;
    width: 100%;
    
    transition: all 0.5s ease;
}

/* hero takes up more space, so it messes with the margins */
#hero div#hero-credit {
    padding-right: 1.7em;
}



.mini-hero #slide-1:hover div, .mini-hero #slide-2:hover div, .mini-hero #slide-3:hover div, .mini-hero #slide-4:hover div, #hero:hover div#hero-credit 
{
    bottom: 0;
}


/* news exerpts on front page */
.post-excerpt {
    margin-bottom: 2.0em;
}

.post-excerpt .excerpt-date  {
 font-size: 1.5em;
 display: inline-block;
 width: 6.2em;
 height: 4.5em;
 color: #777777;
 border-right: 0.1em dotted #DDDDDD;
 line-height: 1.6em;
 text-align: center;
}

.post-excerpt .excerpt-date span {
    color: #d6d6d6;
    display:block;
}

.post-excerpt .excerpt-content {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: top;
    width: 70%;
}

.excerpt-content a {
    display: inline-block;
    font-size: 1.3em;
    padding-bottom: 0.5em;
    text-decoration: underline;
}

.excerpt-content a:hover {
    text-decoration: none;
}


/* artist interview */


.interview-featuredImage {
   background-size: cover;
   height: 316px;
   width: 100%;

}



.interview-container {
    opacity: 1.0;

    border: 0.1em solid #999;
    padding: 0;    
    transition: all 0.25s ease;
    overflow: hidden;
}


.interview-container:hover  {
    opacity: 1.0;
background: linear-gradient(to bottom, #7abcff 0%,#60abf8 73%,#4096ee 100%);
}


 .interview-container .interview-name {
    background: none repeat scroll 0 0 black;
    bottom: -50px;
    color: white;
    padding: 0.8em;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%;
    
    
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    
    transition: all 0.5s ease;
 }

 .interview-container a:hover {
    text-decoration: none;
         opacity: 0.9;

}         
    
 .interview-container  a:hover .interview-name  {
     bottom:  0;

 }

.shop div div {
background-color: #FADEF4;
border-radius: 0.2em;
min-height: 570px;
text-align: left;
padding: 2em;
font-size: 0.8em;
}

.shop div img {
    display: block;
}

.row.shop-item {
  padding: 2em;
  border-radius: 0.4em;
  background: #ffefef;
  background: -moz-linear-gradient(top, #ffefef 28%, #ffe5e5 100%);
  background: -webkit-linear-gradient(top, #ffefef 28%,#ffe5e5 100%);
  background: linear-gradient(to bottom, #ffefef 28%,#ffe5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefef', endColorstr='#ffe5e5',GradientType=0 );
  border: 0.1em solid #ffdcdc;
}

.shop-item .col-md-3.shop-image {
  padding-right: 2.0em;
  padding-top: 0;
}

.shop-item .shop-item-title {
  font-size: 1.5em;
  line-height: 100%;
  margin-bottom: 0;
  font-weight: bold;
  padding: 0;
}

.shop-item .shop-item-price  {
  padding: 0.3em 0 1.3em 0;
  font-size: 1.2em;
}

.shop-item .shop-item-description {
  font-size: 1.0em;
  padding-bottom: 1em;
}

.buyButton {
    box-shadow: 1px 2px 5px #777;
}

.price {
  font-size: 1.4em;
 font-style: italic;
 
}

/******* Download page **************/

#downloadAreas {
    margin: 0;
}

#downloadAreas li {
	margin: 0;	
}

#downloadAreas li.active a {
    background-color: #fadef4;
    border: 0.1em solid #fadef4 ;
    text-decoration: none;
}

#windows ul li {
    margin: 0.4em;
}

#windows-tab-header {
    padding-left: 1.8em;
    text-decoration: none;
    background: url(images/decoration/download-icon-windows.png) no-repeat #fff0fd;
    background-position: left center;
}

#linux-tab-header {
    padding-left: 1.8em;
    text-decoration: none;
    background: url(images/decoration/download-icon-linux.png) no-repeat #fff0fd;
    background-position: left center;
}

#osx-tab-header {
    padding-left: 1.8em;
    text-decoration: none;
    background: url(images/decoration/download-icon-osx.png) no-repeat #fff0fd;
    background-position: left center;
}

#source-tab-header {
    padding-left: 1.8em;
    text-decoration: none;
    background: url(images/decoration/download-icon-source.png) no-repeat #fff0fd;
    background-position: left center;
}



.tab-content {
    background-color: #fadef4;
    border-radius: 0.3em;
    border-top-left-radius:0;
    padding: 2em 2em;

background: #ffdbf6;
background: -moz-linear-gradient(-45deg, #ffdbf6 0%, #ffeffd 100%);
background: -webkit-linear-gradient(-45deg, #ffdbf6 0%,#ffeffd 100%);
background: linear-gradient(135deg, #ffdbf6 0%,#ffeffd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdbf6', endColorstr='#ffeffd',GradientType=1 );


}

.tab-content p.description {
    margin-bottom: 2.0em;
}

.tab-content img {
    box-shadow: none;
	margin: 0.2em;
    float: left;
}

.os-download-notes {
    float: left;
}

    
.download-thankyou-box {
	background-color: white;
	padding: 4em;
}
    
.download-thankyou-box p {
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 1.2em;
}
    

.download-thankyou-box #socialmedia a {
    float: left;
    background: #3ba9fd;
    margin-bottom: 0.6em;
    margin-right: 0.3em;
    border-radius: 0.2em;
    height: 2.3em;
}

.download-thankyou-box #socialmedia a  img {
    float: none;
}


#supportBox {

/*	background:    url('images/decoration/download-cat.jpg') 50% 0% / cover;   */
    background: white;
    border-radius: 0;
    border-top: 0.1em solid #E0E0E0;
    border-bottom: 0.1em solid #E8E8E8;

}


#supportBox .trainingTitle {
    padding: 1.0em;
    text-align: center;
    color: white;
    font-size: 2.2em; 
}

.side-bar-training-image {
    width:    171px;
    height:    261px;
}
    
.side-bar-training-image:hover {
    border: 0.1em solid #ccc;
}

/****** gallery   *******/


#content-container a.thumb img {
    margin: 0;  
    box-shadow: none;  
    border: 0.1em solid #777;
}


.image-wrapper.current a{
    border: none;
}

.navigation-container {
    display: inline-block;
    margin-top: 2.9em;
}

ul.thumbs li {
    margin: 0;
}
a.thumb {
    padding: 0;
}


div.caption-container {
    color: #777;
    padding: 0.7em;
    width: 100%;
    height: 47px; /* hard coding this avoid jumping when images change */
}


/* hide paging controls */

div.navigation a.pageLink {
    display: none;
}

#gallery-container {
    margin: 0 2.3em;
}



/*** IRC ***/

#content-866 h2.main-title  {
 opacity: 0.01;
}

    

/******* media queries for changing display *********/

@media (min-width: 1000px) {

    /* override for bootstrap width */
    .container {
        width: 100%;
    }

    
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    /* top level breadcrumb */
    #slim-background h2 {
        bottom: 0;
        font-size: 2.7em;
        left: 1em;
        position: absolute;
        color: white;
        text-shadow: 0 0 5px #373e40;
    	font-family: 'Quattrocento Sans', sans-serif;
    	width: 65%;
    }
   

    /* offset the navigation so it overlaps the breadcrumb area */
    .navbar {
        margin-bottom: -61px;
        z-index: 1;
        border-bottom: 0;
        border: 0;

    }

    .navbar.homepage {
        background: -moz-linear-gradient(top,  rgba(34, 42, 1.0) 0%, rgba(13, 24, 62, 0.8) 1%, rgba(13, 37, 77, 0.4) 99%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(34, 42, 1.0) 0%,rgba(13, 24, 62, 0.8) 1%,rgba(13, 37, 77, 0.4) 99%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, rgb(34, 42, 1.0) 0%,rgba(13, 24, 62, 0.8) 1%,rgba(13, 37, 77, 0.4) 70%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a000000', endColorstr='#c2000000',GradientType=0 );
   
        margin-bottom: -59px;
        border-radius: 0;
        border: 0;
   }


    .navbar .navbar-collapse {
        text-align: center;
    }
}





/* these two media queries needed to override bootstrap breakpoints */
@media (min-width: 1000px) {
    .container {
        width: 100%;
    }
    
}

@media (min-width: 1600px) {

	.container {
		max-width: 2000px;
	}

}


      

/* masonry specific */

#gallery-container img {
    margin: 0;
    box-shadow: none;
}

.item { 
    height: 500px;
}

@media (max-width: 1000px) {

 #hero {
    width: 100%;
 }
}



/* features hero */
#features-hero {
    background: url('https://krita.org/wp-content/uploads/2019/08/features-hero.png');

    margin: -70px;
    height: 42rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -16rem;
    z-index: -99999;
    margin-bottom: -16rem;


}
@media (max-width: 1000px) {

    #features-hero {
        z-index: -1;
        top: 0;
        position: relative;
        margin: 0;
        height: 30rem;
        width: 100%;
        display: block;
     }
}


#features-hero .title {
    top: 20rem;
}
@media (max-width: 1000px) {
    #features-hero .title {
        top: 0;
    }
}



#features-hero h1 {
    text-align: left; 
    color: #5f767b;
    font-size: 2.6rem;
}
@media (max-width: 1000px) {
    #features-hero h1 {
        text-align: left;
        color: #fff;
        font-size: 2rem;
        position: relative;
        bottom: 0;
        text-shadow: 3px 3px 3px #3a2f44;
    }
}



.features-list h3 {
    font-weight: normal;
    font-size: 1.6rem;
}









/* testimonial styles */

.secondary-features .secondary-title {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 0.5rem;
}
.content-container .secondary-features  p {
    margin-bottom: 0;
}


.secondary-features > div {
    padding: 1.5rem;
}

.checkered-bg {
    background-color: #e6e6e6;
    border-radius: 4px;
    min-height: 23rem;
}




.row.testimonial {
    padding: 3rem 7rem;
    margin: 4rem -4rem;
    font-size: 1.3rem;
    color: white;
    background: #3a3a3a;
}
@media (max-width: 1000px) {
    .row.testimonial {
        padding: 2rem;
    }
}



.features-download-area {
    height: 32rem; 
    background: url('https://krita.org/wp-content/uploads/2019/08/features-hero-website.jpg');
    margin: 0 -71px; 
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 1000px) {
    .features-download-area  {
            margin: 0; 
    }
}


.right-sideText {
   padding: 0.5em 3em;
}

div.row.testimonial img  {
    box-shadow: none;
    margin-top: 0.5em;
}

div.row.testimonial p,
div.row.testimonial div {
    text-align: left;
    color: #FFF;
}

div.row.testimonial p.quote {
	line-height: 120%;
	font-style: italic;
	font-size: 1.2rem;
}



.learn-more-icon {
	font-size: 2rem;
	top: 2px;
	position: relative;
}


.features-hero-credit {
    top: 39rem;
    position: absolute;
    left: 5rem;
    color: white;
}



@media (max-width: 1000px) {
   h3, h4 {
   margin-top: 2em;
   font-size: 1.5em;
}


.row.testimonial {
    font-size: 1.2em;
}

@media (max-width: 1000px) {
.row.testimonial {
    margin: 0;
}

}

div.row.testimonial p.quote {
    font-size: 1.0em;
}
div.row.testimonial img {
    display: block;
}




.supportedOSIcon {
	display:inline-block;
	margin: 0.25rem;
}

.container {
    width: 100%;
}

.content-container h2 {
    font-size: 2em;
}


#breadcrumb-title {
    margin-left: 1.21em;

}

.nav.navbar-nav {
    box-shadow: none;
    border-radius: 0;
}

.nav.navbar-nav a, #lang-switcher-widget select {
    font-size: 1.3em;
    text-decoration: none;
}

.nav.navbar-nav a:hover {
    border-radius: 0;
}

.navbar {
    background-color: #2f2f2f;
    margin-bottom: 0;
    border-radius: 0;
}


    #lang-switcher-widget {
        margin-top: 0;
    }

    #slim-background {
        height: inherit;
        background:none;
    }

    #slim-background h2 {
        color: #555;
    }

    #breadcrumb-nav {        
        text-align: center;
    }


    #breadcrumb-nav ul {
        margin-left: 0;
        margin-top: 0.3em;
    }

    #breadcrumb-nav li {
        display: block;
        border-radius: 0; /* nil out from large display */
        background: white;
    }


    #breadcrumb-nav li.active a{
        color: white;
	background: #3babff;  
    }

    #breadcrumb-nav li a {
        font-size: 1.1em;
        padding: 0.5em;
        display: block;
        text-decoration: underline;
    }

.front-page-news-container {
    height: auto;
}

    .content-container {
        padding: 1.3em;
    }


.frontpage-block3 div.artist-homepage {
	width: 100%;
}


/* this houses things like youtube videos */
iframe {
	width: 100%;
}

#font-search {
	display:none;
}

#breadcrumb-nav li.active { 
	background: #ccc;
    border: none;
}

    .post-excerpt .excerpt-date {
        border-right: 0;
        height: auto;
    }
    
    
    .post-excerpt .excerpt-date span {
        display: inline-block;
        font-size: 1em;
        margin-left: 0.3em;
    }
    
    footer ul a {
        display: block;
        padding: 1.0em;
        font-size: 1.2em;
    }

    footer ul a:hover {
        background-color: #e6e6e6;
        text-decoration: none;
    }

.content-container img {
     max-width: 91%;
}

 .interview-container .interview-name{
   bottom: 0;
}

.right-sideText {
   padding-left: 0.5em;
padding-top: 0;
}


}

.post.page img {
    margin: 1em 0;
}

/* share this plugin */
.ssba a {
    margin-left: 1.5em;
}



#lang-switcher select {
    background: none;
    color: white;
    padding: 0.3em;
    border: none;

}

#lang-switcher option  {
    color: black;
}


.current-page-ancestor {
    border-bottom: 0.1em solid white;
}

.navbar-brand.mobile-nav-logo {
    display: none;
}
@media (max-width: 1000px) {
    .navbar-brand.mobile-nav-logo {
        display: inline-block;
        padding-top: 0.5rem;
    }
}



@media (max-width: 1000px) {
    #kde-homepage-logo {
        float: right;
    }
}


@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
      padding: 15px 10px;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


/* MOLLIE FORMS */
.mollie-donation-form {
	background: white;
	padding: 2.0rem;
	box-shadow: 0px 0px 13px -1px #859997;
	border: 4px solid #8ec6ff;
}

.mollie-donation-form ul {
    padding-left: 0;
}

.mollie-donation-form select,
.mollie-donation-form input {
    padding: 0.4rem ;

}
