@font-face {
  font-family: 'Eris';
  font-style: normal;
  font-weight: 100;
  src: url('https://krita.org/wp-content/themes/krita-org-theme/fonts/eris.otf') format('opentype');
}


#frontpage-container div h2 {
	font-family: "Eris",cursive;
    font-size: 2.5em; 
    color: black;
}
 

p, body {
	font-family: 'Noto Sans Japanese', sans-serif;
}

.post.page p, .content-container p, .content-container ol li, .content-container ul li  {
font-size: 1.1em;
}


#lang-switcher select {
    padding: 0;
}
